.root {
  padding: var(--spacer-large);
  padding-top: var(--spacer-block);
  padding-bottom: var(--spacer-block);
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--foreground);
}

.root .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root .item img {
  width: 2rem;
}
