.Todo-list {
  --button-width: 6rem;

  display: flex;
  flex-direction: column;
  margin: 0;
  gap: var(--spacer-small);
  list-style: none;
  padding-inline-start: 0;
}

.Todo-list-item {
  background-color: var(--brand);
  border-radius: 5px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

/* Todo row */
.Todo-row-box {
  display: flex;
  gap: var(--spacer-small);
  justify-content: space-between;
  width: calc(100% + var(--button-width));
}

.Todo-row-label {
  scroll-snap-align: end;
  flex-grow: 1;
  padding: var(--spacer-small);
}

.Todo-row-checkbox {
  background-color: var(--brand);
  margin: var(--spacer-small);
}

.Todo-row-button {
  scroll-snap-align: end;
  width: var(--button-width);
}

/* Input row */
.Todo-input-box {
  display: flex;
  gap: var(--spacer-small);
  width: 100%;
  justify-content: space-between;
}

.Todo-input-text {
  flex-grow: 1;
  padding: var(--spacer-small);
  border-radius: 5px;
  border-width: thin;
}

.Todo-input-button {
  width: var(--button-width);
}
