.Todo-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: var(--spacer-small);
  list-style: none;
  padding-inline-start: 0;
}

.Todo-item {
  background-color: var(--brand);
  border-radius: 5px;
  display: flex;
}

.Todo-item .Todo-row {
  flex-grow: 1;
  padding: var(--spacer-small);
}

.Todo-item input[type="checkbox"] {
  background-color: var(--brand);
  margin: var(--spacer-small);
}

.Todo-item .Todo-input {
  flex-grow: 1;
  padding: var(--spacer-small);
  border-radius: 5px;
  border-width: thin;
}
