.background {
  height: 100%;

  /* Pad unsafe area inset */
  padding-top: env(safe-area-inset-top, 0);
  /* padding-bottom: env(safe-area-inset-bottom); */
  /* padding-right: env(safe-area-inset-right); */
  /* padding-left: env(safe-area-inset-left); */

  /*
  `viewport-fit=cover` makes content cover statusbar, after installation.
  `html` padding recreates the statusbar.
  Statusbar text is always white, so background needs to be darker.
  */
  background-color: var(--brand);
}

.root {
  height: 100%;

  /* Pad unsafe area inset, */
  padding-bottom: env(safe-area-inset-bottom, 0);
  /* Except for the OS top bar, this is the background */
  background-color: var(--background);
  color: var(--foreground);

  display: flex;
  flex-direction: column;
}

.root main {
  flex-grow: 1;
  padding: var(--spacer-small);
  overflow-y: scroll;
}
