.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 1rem;
}

.App main {
  flex-grow: 1;
  padding: 0.25rem;
  overflow: scroll;
}

.Footer {
  padding: 0.8rem;
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
}

.Footer .Footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer .Footer-item img {
  width: 2rem;
}
