/* Globals */
html {
  /* iOS top notch, but not bottom app handle */
  height: calc(100% + env(safe-area-inset-top, 0));

  /* Pad unsafe area inset */
  padding-top: env(safe-area-inset-top);
  /* padding-bottom: env(safe-area-inset-bottom); */
  /* padding-right: env(safe-area-inset-right); */
  /* padding-left: env(safe-area-inset-left); */

  /*
  `viewport-fit=cover` makes content cover statusbar, after installation.
  `html` padding recreates the statusbar.
  Statusbar text is always white, so background needs to be darker.
  */
  background-color: var(--brand);
}

div#root {
  height: 100%;
  width: 100%;
}

/* Global variables */
:root {
  --brand: orange;
  --brand-accent: green;
  --background: #fff;
  --foreground: #444;
}
html {
  scrollbar-color: var(--brand) Canvas;
}
input {
  accent-color: var(--brand-accent);
}
:focus-visible {
  outline-color: var(--brand);
}
::selection {
  background-color: var(--brand);
}
::marker {
  color: var(--brand);
}
