/* Globals */
html {
  /* iOS top notch, but not bottom app handle */
  height: calc(100% + env(safe-area-inset-top, 0));
}

div#root {
  height: 100%;
  width: 100%;
}

/* Global variables */
html {
  scrollbar-color: var(--brand) Canvas;
}
input {
  accent-color: var(--brand-accent);
}
:focus-visible {
  outline-color: var(--brand);
}
::selection {
  background-color: var(--brand);
}
::marker {
  color: var(--brand);
}

:root {
  --brand: orange;
  --brand-accent: green;
  --background: #fff;
  --foreground: #444;
  --spacer-block: 0.75rem;
  --spacer-small: 0.25rem;
  --spacer-large: 1rem;
}
